@charset "utf-8";
.container {
    padding: 0;
    margin: 20px auto;
    width: 900px;
    zoom: 1;
    overflow: auto;
}

.container .TClouds {
    border: 5px solid #dedede;
    padding: 15px 10px;
    width: 270px;
    background-color:#FFFFFF;
    float: left;
}

.TClouds h3 {
    color: #000000;
    font-size: 24px;
    line-height:20px;
    border-bottom: 1px solid #999999;
    padding:5px 0;
    width:150px;
    margin: 20px 10px;
}

.TClouds p span a {
    width: 170px;
    color: #000000;
    text-decoration: none;
}

.TClouds p span a:hover {
    color: #FF0000;
}

.TClouds p span {
    border: 1px solid #dedede;
    border-radius: 15px 15px 15px 15px;
    margin: 10px 10px;
    font-size: 14px;
    padding:2px 5px;
}

.TClouds p span:hover {
    background-color: aqua;
}